accessLevels: [public, protected, private]
destination: API
download: false
exclude: {*_old, *.old, *.old.*} 
source: {src/Controller, src/Form, src/Mailer, src/Model, src/Template, src/Utility, src/View}
main: MeCms
php: false
title: MeCms API
todo: true
