accessLevels: "public,protected,private"
autocomplete: "classes,constants,functions,methods,properties,classconstants"
destination: Docs
download: yes
source: {Controller, Model}
main: MeCmsBackend
php: no
title: "MeCms Backend"
todo: "yes"
