includes:
    - phpstan-baseline.neon

parameters:
    level: 6

    paths:
        - config
        - src
        - templates
        - tests

    bootstrapFiles:
        - tests/bootstrap.php
        - config/i18n_constants.php
        - vendor/mirko-pagliai/cakephp-thumber/config/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        - config/Migrations/
        - config/elfinder/
        - tests/test_app/

    ignoreErrors:
        -
            message: '#^(Undefined variable: \$this|Variable \$\w+ might not be defined\.)$#'
            path: templates
