parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast array\\|string\\|null to string\\.$#"
			count: 1
			path: src/Controller/PostsCategoriesController.php

		-
			message: "#^Cannot cast array\\|string\\|null to string\\.$#"
			count: 3
			path: src/Controller/PostsController.php

		-
			message: "#^Cannot cast array\\|string\\|null to string\\.$#"
			count: 2
			path: src/Controller/PostsTagsController.php

		-
			message: "#^Call to an undefined method DOMDocument\\|SimpleXMLElement\\:\\:asXML\\(\\)\\.$#"
			count: 1
			path: src/Utility/Sitemap/SitemapBuilder.php

		-
			message: "#^Call to function compact\\(\\) contains possibly undefined variable \\$page\\.$#"
			count: 1
			path: templates/StaticPages/cookies-policy-it.php

		-
			message: "#^Call to function compact\\(\\) contains possibly undefined variable \\$page\\.$#"
			count: 1
			path: templates/StaticPages/cookies-policy.php

		-
			message: "#^Access to an undefined property MeCms\\\\Controller\\\\PostsController\\:\\:\\$Foo\\.$#"
			count: 1
			path: tests/TestCase/Controller/AppControllerTest.php

		-
			message: "#^Expression \"\\$PostsController\\-\\>Foo\" on a separate line does not do anything\\.$#"
			count: 1
			path: tests/TestCase/Controller/AppControllerTest.php

		-
			message: "#^Binary operation \"\\.\" between 'ORDER BY ' and array\\<string\\>\\|string\\|null results in an error\\.$#"
			count: 1
			path: tests/TestCase/Model/Table/AppTableTest.php

		-
			message: "#^Binary operation \"\\.\" between 'ORDER BY `' and array\\<string\\>\\|string\\|null results in an error\\.$#"
			count: 1
			path: tests/TestCase/Model/Table/AppTableTest.php

		-
			message: "#^Property MeCms\\\\Test\\\\TestCase\\\\Model\\\\Table\\\\AppTableTest\\:\\:\\$Posts \\(MeCms\\\\Model\\\\Table\\\\PostsTable\\) on left side of \\?\\?\\= is not nullable\\.$#"
			count: 1
			path: tests/TestCase/Model/Table/AppTableTest.php

		-
			message: "#^Property MeCms\\\\Test\\\\TestCase\\\\Model\\\\Table\\\\AppTableTest\\:\\:\\$PostsCategories \\(MeCms\\\\Model\\\\Table\\\\PostsCategoriesTable\\) on left side of \\?\\?\\= is not nullable\\.$#"
			count: 1
			path: tests/TestCase/Model/Table/AppTableTest.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: tests/TestCase/Model/Table/Traits/GetPreviewsFromTextTraitTest.php

		-
			message: "#^Property MeCms\\\\Test\\\\TestCase\\\\Model\\\\Table\\\\Traits\\\\IsOwnedByTraitTest\\:\\:\\$Posts \\(MeCms\\\\Model\\\\Table\\\\PostsTable&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\) on left side of \\?\\?\\= is not nullable\\.$#"
			count: 1
			path: tests/TestCase/Model/Table/Traits/IsOwnedByTraitTest.php

		-
			message: "#^Property MeCms\\\\Test\\\\TestCase\\\\Model\\\\Table\\\\Traits\\\\NextToBePublishedTraitTest\\:\\:\\$Posts \\(MeCms\\\\Model\\\\Table\\\\PostsTable&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\) on left side of \\?\\?\\= is not nullable\\.$#"
			count: 1
			path: tests/TestCase/Model/Table/Traits/NextToBePublishedTraitTest.php

