includes:
    - phpstan-baseline.neon

parameters:
    level: 7

    paths:
        - config
        - src
        - templates
        - tests

    bootstrapFiles:
        - tests/bootstrap.php
        - vendor/mirko-pagliai/me-tools/config/i18n_constants.php
        - config/i18n_constants.php
        - vendor/mirko-pagliai/cakephp-thumber/config/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#^Parameter \#[12] \$callback of function array_(map|walk) expects \(?callable\([^\)]+\): mixed\)?(\|null)?, (array{[^}]+}|Closure\([^\)]+\))(: string)? given\.$#'
        -
            message: '#^Variable \$\w+ might not be defined\.$#'
            path: templates/
        -
            message: '#^Variable \$\w+ in empty\(\) always exists and is not falsy\.$#'
            path: templates/cell
        -
            message: '#^Property MeTools\\TestSuite\\CommandTestCase::\$_(err|in) \(Cake\\Console\\TestSuite\\StubConsole(Input|Output)\) does not accept null\.$#'
            path: tests/TestCase/Command

    excludePaths:
        - config/Migrations/
        - config/elfinder/
        - tests/test_app/
